<div>
  <%= flash[:notice] %>
</div>
<div class="container mx-auto m-5">
  <h2>ドライブ計画一覧</h2>
  <div class="row m-3">
    <div class="col">

      <!--<= form_with model: @drive_reports, url: drive_reports_path, method: :get do |f| %>-->
      <!--  <= f.select :status, Article.statuses.map { |k| [t("@drive_report.status.#{k}"), k] }, selected: @drive_reports.status %>-->
      <!--  <= f.submit "絞り込み" %>-->
      <!--< end %>-->
      
      <!--<= link_to drive_reports_path(status: yet) do %>-->
      <!--      <= @drive_report.status_i18n %>-->
      <!--< end %>-->

      <%= link_to new_drive_report_path, class: "btn btn-primary btn-lg active" do %>
        計画を追加する<i class="fa-solid fa-car-on"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>ドライブタイトル</th>
          <th>ステータス</th>
          <th>作成日</th>
          <th></th>
        </tr>
        <% @drive_reports.each do |drive_report| %>
        <tr>

          <td>
            <%= link_to drive_report_path(drive_report) do %>
              <%= drive_report.title %>
            <% end %>
          </td>
          <!--行き先のステータス-->
          <td>
            <%= drive_report.status_i18n %>
          </td>
          <td><%= drive_report.created_at.strftime('%Y/%m/%d') %></td>
          <td>
            <%= link_to "削除", drive_report_path(drive_report.id), method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
