
<div class="container mx-auto m-5">
  <h2>ドライブの計画</h2>
  <p><%= link_to "計画を削除", drive_report_path(@drive_report.id), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger" %></p>
  <h3><%= @drive_report.title %></h3>
  <div class="row">
    <div class="col">
      <p><%= link_to "タイトル編集", edit_drive_report_path(@drive_report), class: "btn btn-primary" %></p>
    </div>
    <div class="col">
      <p><%= link_to "行き先の編集",drive_report_routes_path(@drive_report), class: "btn btn-success" %></p>
    </div>
    </div>
  <div class="row">
      <div class="col">
      <table class="table">
        <% @drive_report.routes.each do |route| %>
        <tr>
          <th width="10%">
            <%= image_tag route.get_destination_image(150,100) %>
          </th>
          <th width="30%">
            <%= route.destination %>
          </th>
          <th  width="60%">
            <%= route.destination_memo %>
          </th>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row m-3">
    <div class="col">
      <h3>自己評価</h3>
      <%= @drive_report.assessment %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with model:@drive_report, url: drive_report_path(@drive_report.id), method: :patch do |f| %>
        <%= f.text_area :assessment, rows: '5', cols: "40", placeholder: "運転を自己評価しましょう" %>
        <div><%= f.submit "保存", class: "btn btn-primary" %></div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "ドライブ計画一覧＞", drive_reports_path %>
    </div>
  </div>
</div>