<div>
  <%= flash[:notice] %>
</div>

<div class="card text-white">
  <%= image_tag "sunset.jpg", width: '100%', class: "card-img cover-img" %>
  <div class="card-img-overlay">
    <h1 class="main-title card-title display-5 mb-2">Drivelog-Nilへようこそ</h1>
    <p class="card-text lg-h3">目標のない運転練習に目的地を。</p>
    <p class="card-text lg-h3">みんなで作る初心者ドライバーのための投稿サイト</p>
  </div>
</div>

<div class="container mt-3">
  <div class="row">

    <div class="col-xs-12 col-lg-9">
      <h2>新着投稿</h2>
      <div class="post row d-flex justify-content-center">
        <%= render "public/drive_routes/list", drive_routes: @drive_routes %>
      </div>
      <div class="row m-3">
        <div class="col d-flex justify-content-center">
          <%= link_to "すべての投稿を見る>", drive_routes_path ,class: "btn btn-outline-primary"%>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-lg-3">
      <h2>タグ</h2>
      <ul class="list-group-flush">
        <% @tags.each do |tag| %>
        <li class="list-group-item">
          <!--drive_route（投稿記事）のtag_idにタグのidを代入する-->
          <%= link_to drive_routes_path(tag_id: tag.id) do %>
            <%= tag.tag_name %>(<%= tag.drive_routes.count %>)
          <% end %>
        </li>
        <% end %>
        <li class="list-group-item">
          <%= link_to "すべての記事を表示>", drive_routes_path %>
        </li>
      </ul>
    </div>

  </div>
</div>