<div class="container mx-auto m-5">
  <div>
    <%= flash[:notice] %>
  </div>
  <div class="row">
    <div class="col">
      <h2>行き先の追加</h2>

      <% if @route.errors.any? %>
        <%= @route.errors.count %>件のエラーが発生しました
        <ul>
          <% @route.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="route_table">
        <!--行き先の一覧-->
        <%= render 'drive_route_index', drive_route: @drive_route %>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="drive_route_area">
        <!--行き先投稿フォーム-->
        <%= render 'drive_route_form', drive_route: @drive_route, route: @route %>
      </div>
      <p><%= link_to "編集を終わる", drive_route_path(@drive_route), class: "btn btn-primary" %></p>
    </div>

    <div class="col">
      <div id='map'></div>
    </div>

  </div>
</div>

<!--<style>-->
<!--#map {-->
<!--  height: 500px;-->
<!--  width: 500px;-->
<!--}-->
<!--</style>-->

<!--<script>-->
<!--  var map;-->
<!--  var marker;-->
<!--  var infoWindow;-->

<!--  function initMap() {-->
<!--    geocoder = new google.maps.Geocoder()-->

    <!--//初期表示位置-->
<!--    let latlng = new google.maps.LatLng(38.60, 139.5);-->

    <!--//デザイン-->


<!--    let map = new google.maps.Map(document.getElementById('map'), {-->
<!--          zoom: 12,-->
<!--          center: latlng-->
<!--      });-->
<!--    let transitLayer = new google.maps.TransitLayer();-->
<!--    transitLayer.setMap(map);-->
      
    <!--// 複数マーカー-->
<!--    <= @drive_route.routes.each do |route| %>-->
<!--      ( function() {-->
<!--        let markerLatLng = {lat:<= route.lat %>, lng: <= route.lng %> };-->
<!--        let marker = new google.maps.Marker({-->
<!--          position: markerLatLng,-->
<!--          map: map-->
<!--        });-->
        
<!--        let infowindow = new google.maps.InfoWindow({-->
<!--          position: markerLatLng-->
<!--          content: "<= route.destination %>"-->
<!--        });-->
<!--        marker.addListener('click', function() {-->
<!--          infowindow.opan(map,marker);-->
<!--        });-->
        
<!--      })();-->
<!--    < end %>-->
<!--  }-->
<!--</script>-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>-->