<div class="container mx-auto m-5">
  <div class="row">
    <div class="col">
      <h2>行き先の追加</h2>
      <p>
        ※こちらで記入された内容は他のユーザーには公開されません<br/>
        ご自身のメモ用としてご利用ください
      </p>
      <% if @route.errors.any? %>
        <%= @route.errors.count %>件のエラーが発生しました
        <ul>
          <% @route.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <table class="table">
      <% @drive_report.routes.each do |route| %>
      <tr>
        <td>
          <%= image_tag route.get_destination_image(150,100) %>
        </td>
        <td>
          <%= route.destination %>
        </td>
        <td>
          <%= route.destination_memo %>
        </td>
        <td>
          <%= link_to "削除", drive_report_route_path(drive_report_id: route.drive_report, id: route.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= form_with model: [@drive_report, @route], url: drive_report_routes_path(@drive_report.id, @route.id), method: :post do |f| %>
        <h5>行き先の画像</h5>
        <%= f.file_field :destination_image, accept: "image/*" %>
        <h5>行き先</h5>
        <%= f.text_field :destination, rows: '5', placeholder: "行き先をこちらに" %>
        <h5>行き先情報</h5>
        <%= f.text_area :destination_memo, rows: '5', cols: "40", placeholder: "行き先情報をこちらに" %>
        <%= f.submit "追加する" %>
      <% end %>

      <p><%= link_to "投稿を完了する", drive_report_path(@drive_report), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>