<div class="container mx-auto m-5">
  <div class="row">
    <div class="col">
      <h2>行き先の追加</h2>
      <p>
        ※こちらで記入された内容は他のユーザーには公開されません<br/>
        ご自身のメモとしてご利用ください
      </p>
      <% if @route.errors.any? %>
        <%= @route.errors.count %>件のエラーが発生しました
        <ul>
          <% @route.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      
      <!--行き先一覧テーブル-->
      <div class="route_index">
        <%= render "report_index", drive_report: @drive_report %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <!--行き先投稿フォーム-->
      <div class="route_area">
        <%= render "report_form", drive_report: @drive_report, route: @route %>
      </div>

      <p><%= link_to "投稿を完了する", drive_report_path(@drive_report), class: "btn btn-primary" %></p>
    </div>
  </div>
</div>