
<div class="container">
  <h2><%= @user.name %> さんのページ</h2>
  <div class="row m-3">
    <table>
      <tr>
        <th>
          <%= image_tag @user.get_profile_image(100,100) , class: "rounded-circle"%><br>
          <% if @user.name != "guestuser" %>
            <p class="mt-2"><%= link_to "ユーザーを削除", admin_user_path(@user.id), method: :delete, "data-confirm" => "このユーザーを削除しますか？", class: "btn btn-danger" %></p>
          <% end %>
        </th>
        <th>
          <%= @user.name %><br>
          <%= @user.introduction %>
        </th>
      </tr>
    </table>
  </div>
<h2><%= @user.name %>さんのドライブルート一覧</h2>
  <div class="row">
    <!--ユーザーの投稿一覧-->
    <%= render 'admin/drive_routes/list', drive_routes: @drive_routes %>
  </div>
  <%= paginate @drive_routes %>

</div>

