<div>
  <%= flash[:notice] %>
</div>
<div class="container mx-auto m-5">
  <h1>投稿記事一覧</h1>
  <div class="row">
    <div class="col-8">
      <div class="container">
        <!--投稿一覧のrender-->
        <div class="row">
          <%= render 'list', drive_routes: @drive_routes %>
        </div>
        <div class="row">
          <%= paginate @drive_routes %>
        </div>
      </div>
    </div>
    <div class="col-3 offset-1">
      <h2>投稿を検索</h2>
      <div class="search-form">
        <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= f.submit "検索" %>
        <% end %>
      </div>
      <h2>タグ</h2>
      <ul class="list-group-flush">
        <% @tags.each do |tag| %>
        <li class="list-group-item">
          <!--drive_route（投稿記事）のtag_idにタグのidを代入する-->
          <%= link_to drive_routes_path(tag_id: tag.id) do %>
            <%= tag.tag_name %>(<%= tag.drive_routes.count %>)
          <% end %>
        </li>
        <% end %>
        <li class="list-group-item">
          <%= link_to "すべての記事を表示>", drive_routes_path %>
        </li>
      </ul>
    </div>
  </div>
</div>