<div class="row">
  <% drive_routes.each do |drive_route| %>
    <div class="col-3 m-3">
      <table>
        <tr>
          <th>
            <%= link_to drive_route_path(drive_route) do %>
              <%= image_tag drive_route.get_image(300,200) %><br>
              <%= drive_route.title %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <%= image_tag drive_route.user.get_profile_image(30,30) %>
            <%= drive_route.user.name %>
          </th>
        </tr>
        <tr>
          <td>
            投稿日：<%= drive_route.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>