<h2>ドライブルート新規投稿</h2>

<%= form_with model: @drive_route do |f| %>
  <h5>思い出の一枚</h5>
    <%= f.file_field :image, accept: "image/*" %>
  <h5>タイトル</h5>
    <%= f.text_field :title %>
  <h5>ドライブルートの紹介</h5>
    <%= f.text_area :body, rows: '5', cols: "50" %>
  <h5>タグ</h5>
  <div class='form-group'>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
    <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
        <%= tag.check_box class: 'form-check-input' %>
        <%= tag.text %>
      <% end %>
    </div>
    <% end %>
  </div>

  <%= f.submit '保存' %>
<% end %>
