<div class="container mx-auto m-5">
  <div class="row">
    <div class="col-8">
      <h2><%= @drive_route.title %></h2>
      <p>投稿日：<%= @drive_route.created_at.strftime('%Y/%m/%d') %></p>
      <p>
        タグ：
        <% @drive_route.tags.each do |tag| %>
          <%= link_to tag.tag_name, drive_routes_path(tag_id: tag.id), class: "btn btn-outline-dark" %>
        <% end %>
      </p>

      <% if user_signed_in? %>
        <% if @drive_route.user == current_user %>
          <%= link_to "投稿を削除", drive_route_path(@drive_route.id), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger" %>
          <%= link_to "編集する", edit_drive_route_path(@drive_route.id), class: "btn btn-success" %>
        <% end %>
        <% if @drive_route.liked_by?(current_user) %>
          <p>
            <%= link_to drive_route_likes_path(@drive_route), method: :delete do %>
              ♥<%= @drive_route.likes.count %>
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to drive_route_likes_path(@drive_route), method: :post do %>
              ♡<%= @drive_route.likes.count %>
            <% end %>
          </p>
        <% end %>
      <% else %>
        ♥<%= @drive_route.likes.count %>
      <% end %>
      <div class="container">
        <div class="row">
          <div class="col">
            <table>
              <tr>
                <td>
                  <%= image_tag @drive_route.get_image(200,200) %>
                </td>
                <td>
                  *ルートの紹介*<br>
                  <%= @drive_route.body %>
                </td>
              </tr>

            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h3>ドライブルート</h3>
            <% if @drive_route.user == current_user %>
              <%= link_to "行き先を編集", drive_route_routes_path(@drive_route.id), class: "btn btn-success" %>
            <% end %>
            <table class="table">

            <% @drive_route.routes.each do |route| %>
            <tr>
              <td width="10%">
                <%= image_tag route.get_destination_image(150,100) %>
              </td>
              <td width="30%">
                <%= route.destination %>
              </td>
              <td width="60%">
                <%= route.destination_memo %>
              </td>
            </tr>
            <% end %>
            </table>
            <div class="row m-5">
              <div class="col">
                <h3>コメント</h3>
                <div>
                  <p>コメント件数：<%= @drive_route.drive_comments.count %></p>
                  <% @drive_route.drive_comments.each do |drive_comment| %>
                    <p>
                      <%= link_to user_path(drive_comment.user.id) do %>
                        <%= image_tag drive_comment.user.get_profile_image(30,30), class: "rounded-circle" %><%= drive_comment.user.name %>
                      <% end %>
                    </p>
                    <p>
                      コメント日：<%= drive_comment.created_at.strftime('%Y/%m/%d') %>
                      <% if drive_comment.user == current_user %>
                        <%= link_to "削除", drive_route_drive_comment_path(drive_comment.drive_route, drive_comment),method: :delete , class: "btn btn-danger" %>
                      <% end %>
                    </p>
                    <%= drive_comment.comment %>
                  <% end %>
                </div>
                <div class="mt-3">
                  <%= form_with model: [@drive_route, @drive_comment] do |f| %>
                    <%= f.text_area :comment, rows: '5', cols: '40', placeholder: "コメントをここに"%>
                    <%= f.submit "送信する" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 offset-md-1">
      <table class="table">
        <tr>
          <th>
            投稿者
          </th>
        </tr>
        <tr>
          <th>
            <%= link_to user_path(@drive_route.user.id) do %>
              <%= image_tag @drive_route.user.get_profile_image(100,100), class: "rounded-circle" %><br>
              <%= @drive_route.user.name %>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>