<div class="container mx-auto m-5">
  <div class="row">
    <div class="col-md-8 col-sm-12">

      <div class="row">
        <div class="col">
          <h2><%= @drive_route.title %></h2>
          <p>投稿日：<%= @drive_route.created_at.strftime('%Y/%m/%d') %></p>
          <p>
            タグ：
            <% @drive_route.tags.each do |tag| %>
              <%= link_to tag.tag_name, drive_routes_path(tag_id: tag.id), class: "btn btn-outline-dark" %>
            <% end %>
          </p>
          <% if user_signed_in? %>
            <% if @drive_route.user == current_user %>
              <%= link_to "投稿を削除", drive_route_path(@drive_route.id), method: :delete, "data-confirm" => "この投稿を削除しますか？", class: "btn btn-danger" %>
              <%= link_to "編集する", edit_drive_route_path(@drive_route.id), class: "btn btn-success" %>
            <% end %>
            <% if @drive_route.liked_by?(current_user) %>
              <p>
                <%= link_to drive_route_likes_path(@drive_route), method: :delete do %>
                  ♥<%= @drive_route.likes.count %>
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to drive_route_likes_path(@drive_route), method: :post do %>
                  ♡<%= @drive_route.likes.count %>
                <% end %>
              </p>
            <% end %>
          <% else %>
            ♥<%= @drive_route.likes.count %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table>
            <tr>
              <td>
                <%= image_tag @drive_route.get_image(200,200) %>
              </td>
              <td>
                *ルートの紹介*<br>
                <%= @drive_route.body %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <h3>ドライブルート</h3>
          
          <table class="table">
          <% @drive_route.routes.each do |route| %>
          <tr>
            <td width="10%">
              <%= image_tag route.get_destination_image(150,100) %>
            </td>
            <td width="30%">
              <%= route.destination %>
            </td>
            <td width="60%">
              <%= route.destination_memo %>
            </td>
          </tr>
          <% end %>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col">
          
          <div id='map' style="height: 400px; width: 400px;"></div>
        </div>
      </div>

      <div class="row m-5">
        <div class="col">
          <h3>コメント</h3>
          <div>
            <p>コメント件数：<%= @drive_route.drive_comments.count %></p>
            <% @drive_route.drive_comments.each do |drive_comment| %>
            <div class="row">
              <div class="col">
                <p>
                  <%= link_to user_path(drive_comment.user.id) do %>
                    <%= image_tag drive_comment.user.get_profile_image(30,30), class: "rounded-circle" %><%= drive_comment.user.name %>
                  <% end %>
                </p>
              </div>
              <div class="col">
                <p>
                  <%= drive_comment.created_at.strftime('%Y/%m/%d') %>
                  <% if drive_comment.user == current_user %>
                    <%= link_to "削除", drive_route_drive_comment_path(drive_comment.drive_route, drive_comment),method: :delete , class: "btn btn-danger" %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= drive_comment.comment %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mt-3">
            <%= form_with model: [@drive_route, @drive_comment] do |f| %>
              <%= f.text_area :comment, rows: '5', cols: '40', placeholder: "コメントをここに"%>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>

    <div class="col-md-4 col-sm-12" style="text-align:center">
      <div class="row">
        <div class="col">
          投稿者
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to user_path(@drive_route.user.id) do %>
            <%= image_tag @drive_route.user.get_profile_image(100,100), class: "rounded-circle" %><br>
            <%= @drive_route.user.name %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= @drive_route.user.introduction %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);
  
//複数マーカー ここから
  <% @drive_route.routes.each do |route|%>
    ( function() { 
      let markerLatLng = { lat: <%= route.lat %>, lng: <%= route.lng %> }; // 緯度経度のデータ作成
      let marker = new google.maps.Marker({ 
        position: markerLatLng, 
        map: map
      });
//マーカーをクリックしたとき、詳細情報を表示
      let infowindow = new google.maps.InfoWindow({
        position: markerLatLng,
        content: "<%= route.destination %>"
      }); //ここで行き先名が表示される
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

       })();
      <% end %>
      //複数マーカー ここまで 
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>