<div class="container">
  <h2><%= user.name %> さんのページ</h2>
  <div class="row m-3">
    <table>
      <tr>
        <th>
          <%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %><br>
          <% if user.name != "guestuser" && user == current_user %>
            <%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-success"%>
          <% end %>
        </th>
        <th>
          <%= user.name %><br>
          <%= user.introduction %>
        </th>
      </tr>
    </table>
  </div>
<h2><%= user.name %>さんのドライブルート一覧</h2>
  <div class="row">
    <!--ユーザーの投稿一覧-->
    <% drive_routes.each do |drive_route| %>
      <div class="col-3 m-3">
        <div class="card border-info m-2">
          <%= image_tag drive_route.get_image(300,200), class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-body">
              <%= link_to drive_route_path(drive_route.id) do %>
                  <%= drive_route.title %>
              <% end %>
            </h5>
            <p class="card-text">
              投稿日：<%= drive_route.created_at.strftime('%Y/%m/%d') %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate drive_routes %>