<div>
  <%= flash[:notice] %>
</div>
<!--ユーザーのプロフィール（ログインユーザーは編集ボタン表示）-->
<div class="container mx-auto">
  <h2><%= @user.name %> さんのページ</h2>
  <div class="row m-3">
    <div class="col-6">
      <table class='table table-borderless'>
        <tr>
          <th rowspan="2">
            <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %><br>
          </th>
          <th>
            <%= @user.name %>
          </th>
        </tr>
        <tr>
          <th>
            <%= @user.introduction %>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <div class="row m-5">
    <div class="col">
      <% if @user.name != "guestuser" && @user == current_user %>
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success"%>
      <% end %>
      <%=link_to likes_user_path(@user), class: "btn btn-primary" do %>
        <i class="fa-solid fa-heart"></i>お気に入り一覧
      <% end %>
      <%= link_to "ドライブ計画", drive_reports_path, class: 'btn btn-info' %>
    </div>
  </div>

  <h2><%= @user.name %>さんのドライブルート一覧</h2>
  <div class="row mt-3">
    <!--ユーザーの投稿一覧-->
    <% @drive_routes.each do |drive_route| %>
      <div class="col-sm-3 card-deck">
        <div class="card border-info m-2">
          <%= image_tag drive_route.get_image(300,200), class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-body">
              <%= link_to drive_route_path(drive_route.id) do %>
                  <%= drive_route.title %>
              <% end %>
            </h5>
            <p class="card-text">
              投稿日：<%= drive_route.created_at.strftime('%Y/%m/%d') %>
            </p>
            <p class="card-text">
              <%= link_to "#{drive_route.drive_comments.count}コメント", drive_route_path(drive_route) %>
            </p>
            <% if drive_route.liked_by?(current_user) %>
            <p class="card-text">
              <%= link_to drive_route_likes_path(drive_route), method: :delete do %>
                ♥<%= drive_route.likes.count %>いいね
              <% end %>
            </p>
            <% else %>
            <p class="card-text">
              <%= link_to drive_route_likes_path(drive_route), method: :post do %>
                ♡<%= drive_route.likes.count %>いいね
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col m-3">
      <%= paginate @drive_routes %>
    </div>
  </div>
</div>
