<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand p-3" href="/">Nil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
      <!--管理者でログイン中のとき-->
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "タグ一覧", admin_tags_path %>
          </li>
          <li class="nav-item">
            <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

      <!--ゲストユーザーでログイン中のとき（ログインしていて、名前がゲストユーザーのとき）-->
        <% elsif user_signed_in? && current_user.name == "guestuser" %>
          <li class="nav-item">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", drive_routes_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>

      <!--ユーザーがログイン中のとき-->
        <% elsif user_signed_in? %>
          <li class="nav-item">
            <%= link_to "投稿する", new_drive_route_path %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", drive_routes_path %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id) %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>

      <!--ログインしていないとき-->
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", drive_routes_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>

  </header>