<!DOCTYPE html>
<html>
  <head>
    <title>DriveLogNil</title>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/398176a057.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
  </head>

  <body>
    
      <%= render 'layouts/header' %>
    <div class="container">
      <main class="mb-5">
        <%= yield %>
        <div></div>
      </main>
      
    </div>
    <%= render 'layouts/footer' %>
    
  </body>
  
</html>
